.sap-form-container {
  width: 80%;
  margin: 150px auto;
  position: relative;
  
}

.form-title {
  margin-bottom: 60px;
}

.sap-form-icon-title{
  float: right;
}

.form-title h1{
  font-size: 24px;
  font-weight: 900;
  color: #09210E;
  display: flex;
  position: relative;
  width: 100%; 

  padding-bottom: 5px;

  border-bottom: 3px solid #09210E;;
}

.form-title-av{
  position: absolute;
  right: 0;
}

.form-title-link-edit{
  margin-left: 20px!important;
}

.form-elements {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.form-elements-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  width: 48%;
}

.form-elements-column:first-of-type {
  margin-right: 4%;
}

.form-input {
  height: 50px;
  border: 3px solid #09210E;
  border-radius: 10px;

  margin-bottom: 40px;

  color: #2B9F3F;
  font-size: 18px;
  font-weight: 700;

  padding: 30px 10px;
}

.form-input-a{
  display: flex;
  align-items: center;
}

.form-input:focus {
  outline: 1px solid #2B9F3F;
}

.form-input-error {
  border: 3px solid #CE1218;
}

.form-input-w100 {
  width: 100%;
}

.form-input-textarea{
  padding: 5px 5px;
  height: 150px;
}

label {
  font-size: 18px;
  font-weight: 900;
  color: #09210E;
  
}

.form-footer {
  position: relative;
  width: 100%;
  display: inline-block;
  margin-top: 30px;
}

.form-btn{
  float: right;

  width: 200px;
  height: 50px;
  border-radius: 10px;
  background: #09210E;

  border: none;

  color: #ffffff;
  font-size: 18px;
  font-weight: 900;

  cursor: pointer;

  transition: 500ms;
}

.div-form-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-btn:hover {
  background: #2B9F3F;
}

.sap-form-input-disabled {
  background-color: #09210E !important;
  color: #ffffff !important;
}

.sap-form-container-input-row{
  height: 93px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

.sap-form-container-input-column {
  display: flex;
  flex-direction: column;
}

.sap-form-container-input-column-w60{
  width: 60%;
  margin-right: 15px;
}

.sap-form-container-input-column-w40{
  width: 40%; 
}

.sap-form-button-select {
  width: 100%;
  height: 66px;
  border-radius: 10px;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  
}

.sap-form-button{
  border: 3px solid #09210E;
  border-radius: 10px;
  height: 100%;
  width: 53%;
  z-index: 0;
  font-weight: 900;
  font-size: 18px;
  color: #09210E;
  position:absolute;
  background-color: white;
}

.sap-form-button:nth-of-type(2){
  right: 0;
}

.sap-form-button-active{
  z-index: 1;
}

.sap-form-button-active-red {
  background-color: #CE1218;
}

.sap-form-button-active-green {
  background-color: #2B9F3F;
}

.sap-form-select{
  width: 100%;
  border: 3px solid #09210E;
  border-radius: 10px;
  font-weight: 900;
  font-size: 18px;
  color: #2B9F3F;
  background-color: rgb(255, 255, 255);
}

.sap-form-select-error{
  border: 3px solid #CE1218!important;
}

select {
  background-color: #CE1218;
}

.sap-form-button-select-margin-bot {
  margin-bottom: 40px;
}

input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
  
}

input[type=number] { 
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=date]{
  height: 66px; 
  padding: 20px 10px
}

.form-div-input-link{
  position: relative;
}

.form-icon-link{
  position: absolute;
  display: flex;
  top: calc(50% - 20px);
  right: 5px;
  transform: translateY(-50%);
  cursor: pointer;
}

.sap-container-modal{
  display: flex;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  z-index: 999;
  position:fixed;
  overflow-y:scroll;
  overflow-x:hidden;
}

.sap-close-modal{
  cursor: pointer;
  position: absolute;
  top: 5vh;
  right: 5vw;
  z-index: 999;
}

.sap-div-modal-mini{
  display: flex;
  position: absolute;
  width: 80vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.sap-div-modal{
  display: flex;
  position: absolute;
  width: 100vw;
}