* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

body, input, button, textarea {
  font-family: 'Archivo Narrow', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.clear {
  clear: both;
}

.container {
  position: relative;
  max-width: 2500px;
  margin: 0 auto;

  height: 100vh;

  overflow: hidden;
}

.container-page {
  position: relative;
  top: 100px;

  width: 100%;
  height: calc(100vh - 100px);
  max-height: 1000px;
}